.download-btn{
    height: 35px;
}
.card-credit{
    padding-top: 10px;
}
.cim:link {
    text-decoration: none;
    color: black;
}

.cim:visited {
    text-decoration: none;
    color: black;
}

.cim:hover {
    text-decoration: none;
    color: black;
}

.cim:active {
    text-decoration: none;
    color: black;
}
@media (min-width: 992px) { 
    main{
    margin:auto;
    width:80%;
} }
footer{
    padding-top: 300px;
}
.content{
    margin:auto;
}
