.download-btn{
    height: 35px;
}
.card-credit{
    padding-top: 10px;
}
.cim:link {
    text-decoration: none;
    color: black;
}

.cim:visited {
    text-decoration: none;
    color: black;
}

.cim:hover {
    text-decoration: none;
    color: black;
}

.cim:active {
    text-decoration: none;
    color: black;
}
footer{
    padding-top: 300px;
}
.content{
    margin:auto;
}
.kartya{
    width: 100%;
}
.oszlop{
    align:"center";
}
.sor{
    flex:auto;
}

